@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Sono:wght@200;300;400;500&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0873b1 0%, #80D0C7 100%);
    font-family: "Poppins", sans-serif;
}